@model FirstLook.Models.Employee

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="span7">
        <h1>@Model.FirstName @Model.LastName</h1>
        <h2>@Model.Company</h2>
        <p>
            @Model.Address
        </p>
    </div>

    <div class="span4">
        <h1>Comments</h1>
        @Html.Action("Index", "Comments", new { id=Model.Id })
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
